.food-type{
	background-color: brown;
	float: right;
	padding: 0px;
	border: 1px solid black;
}

.descr{
	float: right;
}

@media(max-width: 576px){
		.col-xs-11{
			width: 91.6666%
		}
	}

div.row > div {
	padding: 0px;
	border: 1px solid black;
	background-color: grey;
	margin-right: 4.166666%;
	margin-left: 4.166666%;
	margin-top: 20px;
	margin-bottom: 20px;
}





